body {
    margin-top: 50px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 95;
    height: 50px;
    background-color: rgba(0,110,255,1.0);
    color: #FFFFFF;
    font-weight: 700;
    padding: 0 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 95;
    height: 25px;
    padding: 0 5%;
    background-color: #1C1C1E;
    display: flex;
}

.footer > p {
    color: #FFFFFF!important;
    font-size: 13px!important;
    position: relative!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
    opacity: 0.5!important;
    margin-top: 3px;
}

.header > h2 {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: relative;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}