.disablescroll {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}

.pop-up-glasspane {
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 98;
    position: fixed;
    overflow: hidden;
    transition: 0.25s ease-out;
}

.pop-up {
    background-color: rgba(30,30,30,0.75);
    height: auto;
    min-height: 140px;
    width: 270px;
    border-radius: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 99;
    transition: 0.25s ease-out;
}

.pop-up > .text-container {
    padding: 17px;
}

.pop-up > .text-container > h5 {
    font-size: 17px;
    margin-top: 2px;
    text-align: center;
}

.pop-up > .text-container > p {
    font-size: 13px;
    margin-top: 2px;
    text-align: center;
}

.pop-up > .buttons-container {
    display: flex;
    height: 44px;
    border-top: 1px solid rgba(84,84,88,0.55);
    bottom: 0;
    position: absolute;
    width: 100%;
}

.pop-up > .buttons-container > div {
    font-weight: 600;
    min-width: 50%;
    text-align: center;
    width: 100%;
}

.pop-up > .buttons-container > div:nth-child(2){
    border-left: 1px solid rgba(84,84,88,0.55);
}

.pop-up > .buttons-container > div > h5 {
    font-weight: 600;
    font-size: 17px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

@media (prefers-color-scheme: light) {

    .pop-up {
        background-color: rgba(242, 242, 242, 0.80);
        color: rgba(0,0,0, 1.0) !important;
    }

}