* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
}

*:not(input) {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    font-family: 'SFProDisplay';
    margin: 0 0 80px 0;
    background: rgba(0,0,0,1.0);
    color: rgba(255,255,255,1.0);
}

/* Black theme accent colors */
.white-text {
    color: #FFFFFF!important;
}

.blue-text {
    color: #0A84FF!important;
}

.red-text {
    color: #FF453A!important;
}

.green-text {
    color: #32D74B!important;
}

.orange-text {
    color: #FF9F0A!important;
}

.yellow-text {
    color: #FFD60A!important;
}

.blue-background {
    background-color: #0A84FF!important;
}

.red-background {
    background-color: #FF453A!important;
}

.green-background {
    background-color: #32D74B!important;
}

.orange-background {
    background-color: #FF9F0A!important;
}

.yellow-background {
    background-color: #FFD60A!important;
}

ion-icon {
    color: rgba(255,255,255,1.0);
}

a {
    color: #00B7FF;
}

.hideonload {
    display: none;
}

.bold-text {
    font-weight: 700;
}

.notification {

    height: auto;
    width: 100%;
    padding: 5px 10px;
    border-radius: 14px;
    margin: 0 0 20px 0;

}

.pwa {
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    position: fixed;
}

.pwa img {
    margin: 0 auto;
    height: 75px;
    width: 75px;
}

.pwa-bar, .title-bar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: -50px;
    left: 0;
    z-index: 99;
    overflow: hidden;
    -webkit-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.title-bar {
    top: 0;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

h1, h2, h3 {
    margin-bottom: 38px;
}

.section {
    margin-bottom: 38px;
    position: relative;
}

p, li {
    font-size: 17px;
    font-weight: normal;
}

p.hint {
    font-size: 13px;
    color: rgba(142,143,147,1.0);
    margin-bottom: 11px;
}

.center-text {
    text-align: center;
}

li {
    margin-left: 25px;
}

label {
    font-size: 16.875px;
    font-weight: bold;
}

input {
    height: 40px;
    width: 100%;
    font-size: 22.5px;
    padding: 0 12.5px;
    background-color: rgba(223,223,223,1.0);
    border-radius: 0;
    border: none;
    margin-bottom: 15px;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.view, .pm-view {
    padding: 50px 20px 0 20px;
    width: 100%;
    height: 100%;
}

.view h1, .pm-view h1 {
    margin-bottom: 20px;
}

.title-bar {
    height: 44px;
    filter: blur(10px);
    background-color: rgba(35,36,38,1.0);
}

.button {
    width: 100%;
    height: 50px;
    text-align: center;
    color: rgba(255,255,255,1.0);
    background-color: #0A84FF;
    border-radius: 8px;
    margin-bottom: 38px;
}

.button > h3 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.flex-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 150px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.space-between {
    justify-content: space-between;
    flex-direction: row;
}

.half-width {
    width: 45%;
}

.list-container {
    width: 100vw;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background-color: #1C1C1E;
}

.rounded-list-container {
    border-radius: 10px;
    background-color: #1C1C1E;
}

.list-item {
    padding: 10px 16px;
    min-height: 44px;
    max-height: 60px;
    position: relative;
}

.list-item > p {
    width: auto;
    max-width: 67%;
}

.list-item > p.subtitle {
    margin-top: 2px!important;
    width: auto;
    font-size: 15px;
    color: #EBEBF5;
    opacity: 0.6;
}

.list-item > .value {
    text-align: right;
    float: right;
    width: 33%!important;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.list-item > input.value {
    text-align: right;
    float: right;
    width: 33%!important;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent!important;
    padding: 0!important;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
}

.list-item > .value > ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 48px;
    position: relative;
    top: 5px;
}

.list-item > .value > ion-icon[name="chevron-forward"] {
    color: #EBEBF5;
    opacity: 0.3;
}

.list-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid #545458;
}

.ajax-wait {
    height: 62px;
    width: 100%;
    font-size: 16px;
    color: rgba(235,235,245,0.6);
    text-align: center;
}

.ajax-wait > ion-icon {
    top: 3px;
    position: relative;
}

.anim-rotate-loader {
    animation: rotate-loader 1s steps(8, end) infinite;
}

@keyframes rotate-loader {
    to {
        transform: rotate(360deg);
    }
}

.news-card {
    border-radius: 24px;
    width: 100%;
    background-color: rgba(35,36,38,1.0);
    color: rgba(255,255,255,1);
    position: relative;
    margin-bottom: 50px;
}

.news-card > .close-news-card {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 99;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 5px 5px 10px #1C1C1E;
    box-shadow: 1px 1px 3px #1C1C1E;
    border-radius: 50%;
    background-color: #1C1C1E;
}

.news-card > .posterimage {
    height: calc((100vw - 50px) / 16 * 9);
    width: inherit;
    background: center center;
    background-size: cover;
    border-radius: 24px 24px 0 0;
}

.news-card > .content {
    padding: 20px;
}

.news-card.opened > .content {
    height: calc(100vh - ((100vw - 50px) / 3 * 2));
}

.news-card.opened > .content {
    overflow-y: scroll;
    padding-bottom: 75px;
}

.news-card > .content > .head > p {
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 15px;
    color: rgba(148,149,150,1.0);
}

.news-card > .content > .data > p {
    margin: 15px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    color: rgba(148,149,150,1.0);
}

.news-card.opened {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
}

.tabs-bar {
    position: fixed;
    bottom:0;
    height: 85px;
    width: 100%;
    padding: 0 0 0 0;
    background-color: rgba(17,18,19,1.0);
    border-top: 1px solid rgba(125,126,125,0.5);
    display: flex;
    justify-content: space-between;
}

.tab {
    text-align: center;
    width: 20%;
    padding: 5px;
    color: rgba(125,126,125,1.0);
    transition: 0.25s ease-out;
}

.tab > ion-icon {
    font-size: 22.5px;
    color: rgba(125,126,125,1.0);
    transition: 0.25s ease-out;
}

.tab > p {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5pt;
    transition: 0.25s ease-out;
}

.selected > p, .selected > ion-icon {
    color: #0A84FF!important;
}

.prompt-message {
    height: 95vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 90;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0,0,0,1.0);
    overflow-y: scroll;
}

.pm-header {
    height: 55px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(29,29,29,1);
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    position: fixed;
    top: inherit;
    z-index: 91;
}

.prompt-message::before {
    content: '';
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,1);
    z-index: 89;
}

.pm-header > h3 {
    text-align: center!important;
}

.pm-header > h3, .pm-header > p {
    max-width: 33%;
    position: relative;
    top:50%;
    transform: translateY(-25%);
    margin-bottom: 0!important;
}

.peek-pop-layer {
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 90;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: none;
}

.peek-pop {
    min-height: 250px;
    max-height: 75vh;
    height: auto;
    width: 95%;
    max-width: 360px;
    transform: translate(-50%, -50%) scale(0.1);
    transform-origin: center;
    top: 50%;
    left: 50%;
    z-index: 91;
    position: fixed;
    padding: 16px;
    background-color: rgba(28,28,30,1.0);
    border-radius: 13px;
    animation: expand-peak-pop 0.25s;
    animation-fill-mode: forwards;
}

.peek-pop > .list-container {
    width: 95vw !important;
    max-width: 360px;
}

@keyframes expand-peak-pop {
    0% {
        transform: translate(-50%, -50%) scale(0);;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #F2F2F7;
        color: rgba(0,0,0,1.0);
    }

    ion-icon {
        color: rgba(0,0,0,1.0);
    }

    /* Black theme accent colors */
    .blue-text {
        color: #007AFF!important;
    }

    .red-text {
        color: #FF3B30!important;
    }

    .green-text {
        color: #34C759!important;
    }

    .orange-text {
        color: #FF9500!important;
    }

    .yellow-text {
        color: #FFCC00!important;
    }

    .blue-background {
        background-color: #007AFF!important;
    }

    .red-background {
        background-color: #FF3B30!important;
    }

    .green-background {
        background-color: #34C759!important;
    }

    .orange-background {
        background-color: #FF9500!important;
    }

    .yellow-background {
        background-color: #FFCC00!important;
    }

    .tabs-bar {
        background-color: rgba(246,247,248,1.0);
        color: rgba(148,149,150,1.0);
    }

    .tab > ion-icon {
        color: rgba(148,149,150,1.0);
    }

    .selected > p, .selected > ion-icon {
        color: #007AFF!important;
    }

    .news-card {
        background-color: #F0F0F0;
        color: rgba(0,0,0,1);
    }

    .list-item > .value > ion-icon[name="chevron-forward"] {
        color: #3C3C43;
        opacity: 0.3;
    }

    .list-item > p.subtitle {
        color: #3C3C43;
        opacity: 0.6;
    }

    .list-item > input.value {
        color: rgba(0,0,0,1);
    }

    .list-item:not(:nth-last-child(1)) {
        border-bottom: 1px solid rgba(60,60,67,0.36);
    }

    .list-container, .rounded-list-container {
        background-color: #FFFFFF;
    }

    .ajax-wait {
        color: rgba(60,60,67,0.6);
    }

    .pm-header {
        background-color: rgba(249,249,249,1);
        color: rgba(0,0,0,1.0);
    }

    .prompt-message {
        background-color: rgba(255,255,255,1.0);
    }

    .prompt-message::before {
        background-color: rgba(255,255,255,1.0);
    }

}

