<!-- Afbeeldingen, code, concept en ontwerp (tenzij anders vermeld): Copyright © 2020 Bas Kasemir. -->
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Queue Flow</title>
    <meta name="application-name" content="Queue Flow (RC)">
    <meta name="description" content="Queue Flow">
    <meta name="author" content="Bas Kasemir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Queue Flow (RC)">
    <link rel="apple-touch-icon" sizes="180x180" href="images/touch-icons/60x60@3x.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icons/60x60@2x.png">
    <link href="images/queueflow-icon-512.png" rel="icon" type="image/png">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/popup.css">
    <script src="socket.io/socket.io.js"></script>
    <script src="javascripts/easing.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/pwa.js"></script>
    <script src="javascripts/tabs.js"></script>
    <script src="javascripts/popup.js"></script>
    <script src="javascripts/view.js"></script>
    <script type="application/javascript" src="javascripts/date-lib.js"></script>
    <script src="javascripts/date.js"></script>
    <script src="javascripts/news.js"></script>
    <script src="javascripts/employee.js"></script>
    <script src="javascripts/assignments.js"></script>
    <script src="javascripts/socket.js"></script>

</head>

<body>
    <div class="pwa-bar">
        <div></div>
    </div>
    <div class="pwa hideonload">
        <img src="images/queueflow-icon-squircle.svg" height="75" width="75" alt="logo">
        <h1>Queue Flow</h1>
        <p>Laten we deze app toevoegen aan je beginscherm, het is niet moeilijk!</p>
        <br>
        <p>1. Druk op het deel icoon</p><ion-icon name="share-outline" style="color: #FFF;"></ion-icon>
        <p>2. Druk op "Voeg toe aan beginscherm"</p>
        <p>3. Klaar!</p>
    </div>

    <div class="view" data-view-name="home">
        <h1 data-view-inset="name" data-refresh="newslist">Home</h1>
        <div class="news-list">News could not be loaded :-(</div>
    </div>

    <div class="view hideonload" data-view-name="sales">
        <h1 data-view-inset="name">Sales Advisor</h1>

        <div id="sales-select">
            <p class="section">Selecteer je naam om je aan te melden.</p>

            <div class="section">
                <p class="hint">BELANGRIJK: Kies je eigen naam en misbruik deze functie niet.</p>
                <div class="rounded-list-container">
                    {{#employees}}
                    <div class="list-item" data-select-employee data-employeecode="{{employee_code}}" data-employee-id="{{id}}" data-employee-firstname="{{name.first}}">
                        <p>{{name.first}} {{name.last}}</p>
                        <p class="value"><ion-icon name="chevron-forward"></ion-icon></p>
                    </div>
                    {{/employees}}
                </div>
<!--
                <p class="hint">Voor deze demoversie zijn de achternamen gemaskeerd in verband met de privacy.</p>
-->
            </div>
        </div>

        <div class="hideonload" id="sales-active">

            <div class="notification white-text orange-background">
                <p class="bold-text"><ion-icon name="alert-circle"></ion-icon>&nbsp;&nbsp;&nbsp;Houd je aan de 1,5m afstand tijdens je verkoopgesprek en het afrekenen.</p>
            </div>

            <div class="list-container section">

                <div class="list-item">
                    <p>Ingelogd als</p>
                    <p class="value" data-fill-employee-firstname=""></p>
                </div>

                <div class="list-item">
                    <p>Huidige status</p>
                    <p class="value green-text" data-sales-assignment-employee-state="">Beschikbaar</p>
                </div>

                <div class="list-item">
                    <p>Assignment ID</p>
                    <p class="value" data-sales-assignment-id="">-</p>
                </div>

                <div class="list-item">
                    <p>Type of sale</p>
                    <p class="value" data-sales-assignment-type-of-sale="">-</p>
                </div>

                <div class="list-item hideonload">
                    <p>Requested by</p>
                    <p class="value" data-sales-assignment-requested-escalation="">-</p>
                </div>

                <div class="list-item">
                    <p>Aantal klanten</p>
                    <p class="value" data-sales-assignment-num-customers="">-</p>
                </div>

            </div>

            <div class="ajax-wait section" id="wait-for-assignment">
                <ion-icon src="images/loading.svg" class="anim-rotate-loader"></ion-icon>&nbsp;&nbsp;&nbsp;<span id="waiting-msg">Wachten op een assignment</span>...
            </div>

            <!-- BEEINDIGKNOP -->
            <div class="button hideonload" id="end-assignment">
                <h3>Be&euml;indig deze assignment</h3>
            </div>

            <!-- BESCHIKBAARKNOP -->
            <div class="button green-background hideonload" id="set-available-employee">
                <h3>Meld aan</h3>
            </div>

            <!-- AFMELDKNOP -->
            <div class="button red-background" id="logout-employee">
                <h3>Meld <span data-fill-employee-firstname=""></span> af</h3>
            </div>


        </div>

    </div>

    <div class="view hideonload" data-view-name="doorman">
        <h1 data-view-inset="name">Portier</h1>
        <h2>Registreer klant</h2>
        <div class="section">
            <div class="flex space-between" id="assignmentButtons">
                <div class="button half-width" data-make-assignment="ios">
                    <h3>iOS Sales</h3>
                </div>

                <div class="button half-width" data-make-assignment="watch">
                    <h3>Watch Sales</h3>
                </div>

                <div class="button half-width" data-make-assignment="mac">
                    <h3>Mac Sales</h3>
                </div>

                <div class="button half-width" data-make-assignment="accessories">
                    <h3>Accessories</h3>
                </div>

                <div class="button half-width" data-make-assignment="support">
                    <h3>Amac Support</h3>
                </div>

                <div class="button half-width" data-make-assignment="repair">
                    <h3>Repair</h3>
                </div>

                <div class="button orange-background" data-make-assignment="escalation">
                    <h3>Escalatie</h3>
                </div>
            </div>

            <div class="section hideonload" id="assignmentDetails">
                <p class="hint">ASSIGNMENT DETAILS</p>
                <div class="list-container section">
                    <div class="list-item">
                        <p>Type</p>
                        <p class="value" data-fill-assignmenthr="" id="assignment_type">assignment_human_readable</p>
                    </div>
                    <div class="list-item" id="num-customers-listitem">
                        <p>Aantal klanten</p>
                        <p class="subtitle">Maximaal 2</p>
                        <input class="value" type="tel" id="assignment-num-customers" placeholder="0" max="2" min="1" maxlength="1">
                    </div>
                    <div class="list-item hideonload" id="assignmentDetails-escalatie">
                        <p>Kies werknemer</p>
                        <p class="subtitle">Bij welke werknemer vindt de escalatie plaats?</p>
                        <select class="value" id="assignment-escalation-empl">
                            {{#employees}}
                            <option value="{{id}}">{{name.first}} {{name.last}}</option>
                            {{/employees}}
                        </select>
                    </div>
                </div>

                <input id="assignment-type-short" hidden>

                <div class="button" id="send-assignment">
                    <h3>Create assignment</h3>
                </div>

                <div class="button red-background" id="cancel-create-assignment">
                    <h3>Cancel assignment</h3>
                </div>

            </div>

        </div>

        <h2>Klanten overzicht</h2>
        <div class="section">

            <div class="rounded-list-container section" id="assignment-queue">

            </div>

            <p class="hint">Houd een assignment ingedrukt om deze te wijzigen of annuleren.</p>

        </div>

    </div>

    <div class="view hideonload" data-view-name="overview">
        <h1>Overview</h1>
        <div class="list-container section">
            <div class="list-item">
                <p>Verbonden gebruikers</p>
                <p class="value" data-show-active_users="">-</p>
            </div>
            <div class="list-item">
                <p>Beschikbare werknemers</p>
                <p class="value" data-show-available_employees="">-</p>
            </div>
            <div class="list-item">
                <p>Klanten in wachtrij (groepen)</p>
                <p class="value" data-show-customers_queue="">-</p>
            </div>
            <div class="list-item">
                <p>Klanten in winkel (groepen)</p>
                <p class="value" data-show-customers_store="">-</p>
            </div>
            <div class="list-item">
                <p>Personen in winkel</p>
                <p class="value" data-show-people_store="">-</p>
            </div>
        </div>
        <p class="hint">[BEKEND PROBLEEM] Sommige waarden worden niet vaak genoeg bijgewerkt.</p>
        <h2>Beschikbare werknemers</h2>
        <div class="rounded-list-container" id="available_empl_list"></div>

    </div>

    <div class="view hideonload" data-view-name="about">
        <h1>Queue Flow</h1>
        <p class="hint">Version <span data-fill-app-version="number">&nbsp;</span> - <span data-fill-app-version="build">&nbsp;</span><br>
            <span data-prompt-open="terms-of-use" class="blue-text">Terms of Use</span> | <span data-prompt-open="privacy-policy" class="blue-text">Privacy Policy</span><br>
            Copyright &copy; 2020 Bas Kasemir. All rights reserved.</p>
        <br><br>
        <p>Exclusief gelicentieerd aan Amac Groningen tot 16 december 2020.</p>
        <br><br>
        <div class="section">
            <h2>Lokale app instellingen</h2>
            <div class="button red-background" id="reset-ls"><h3>Reset de app lokaal</h3></div>
            <p class="hint">Gebruik deze functie wanneer er iets mis blijft gaan. Sluit de app eventueel vervolgens geforceerd en start deze opnieuw.</p>
        </div>
        <br><br>
    </div>

    <div class="tabs-bar">
        <div class="tab selected" data-view-open="home">
            <ion-icon name="home"></ion-icon>
            <p>Home</p>
        </div>
        <div class="tab" data-view-open="sales">
            <ion-icon name="cart"></ion-icon>
            <p>Sales</p>
        </div>
        <div class="tab" data-view-open="doorman">
            <ion-icon name="storefront"></ion-icon>
            <p>Portier</p>
        </div>
        <div class="tab" data-view-open="overview">
            <ion-icon name="server"></ion-icon>
            <p>Overview</p>
        </div>
        <div class="tab" data-view-open="about">
            <ion-icon name="information-circle"></ion-icon>
            <p>Over</p>
        </div>
    </div>

    <div class="prompt-message hideonload" data-prompt-name="edit-assignment">
        <div class="pm-header">
            <p class="red-text" data-ea-action="false">Annuleren</p>
            <h3 class="">Pas assignment aan</h3>
            <p class="blue-text" data-ea-action="true">Opslaan</p>
        </div>
        <div class="pm-view">
            <div class="section"></div>
            <div class="section">
                <h1>Pas assignment aan</h1>
                <p>Dankjewel dat je de app wil testen / gebruiken!</p>
                <br>
                <p>Dit is een beta-versie. Dit betekent dat er mogelijk nog enkele kleine foutjes in de app zitten. Mocht je ze tegenkomen, deel ze vooral met mij (Bas).</p>
                <br>
                <p>Om de app te kunnen gebruiken moet je akkoord gaan met onze <span data-prompt-open="terms-of-use" class="blue-text">Terms of Use (gebruikersvoorwaarden)</span> en <span data-prompt-open="privacy-policy" class="blue-text">Privacy Policy (privacybeleid)</span>. Lees deze door, klik op "Accepteren" rechtsboven en je kan aan de slag!</p>
            </div>
            <div class="section">
                <p class="hint">Queue Flow <span data-fill-app-version="number">&nbsp;</span> - <span data-fill-app-version="build">&nbsp;</span><br>Copyright &copy; 2020 Bas Kasemir. All rights reserved.</p>
            </div>
        </div>
    </div>

    <div class="prompt-message hideonload" data-prompt-name="first-run">
        <div class="pm-header">
            <p class="red-text" data-tou-action="false">Afwijzen</p>
            <h3 class="">Welkom</h3>
            <p class="blue-text" data-tou-action="true">Accepteren</p>
        </div>
        <div class="pm-view">
            <div class="section"></div>
            <div class="section">
                <h1>Hallo daar!</h1>
                <p>Dankjewel dat je de app wil gebruiken en testen!</p>
                <br>
                <p>Dit is een beta-versie. Dit betekent dat er mogelijk nog enkele kleine foutjes in de app zitten. Mocht je ze tegenkomen, deel ze vooral met mij (Bas).</p>
                <br>
                <p>Om de app te kunnen gebruiken moet je akkoord gaan met onze <span data-prompt-open="terms-of-use" class="blue-text">Terms of Use (gebruikersvoorwaarden)</span> en <span data-prompt-open="privacy-policy" class="blue-text">Privacy Policy (privacybeleid)</span>. Lees deze door, klik op "Accepteren" rechtsboven en je kan aan de slag!</p>
            </div>
            <div class="section">
                <p class="hint">Queue Flow <span data-fill-app-version="number">&nbsp;</span> - <span data-fill-app-version="build">&nbsp;</span><br>Copyright &copy; 2020 Bas Kasemir. All rights reserved.</p>
            </div>
        </div>
    </div>

    <div class="prompt-message hideonload" data-prompt-name="terms-of-use">
        <div class="pm-header">
            <p>&nbsp;</p>
            <h3 class="">Terms of Use</h3>
            <p class="blue-text" data-prompt-action="close">Sluiten</p>
        </div>
        <div class="pm-view">
            <div class="section"></div>
            <div class="section">
                <h1>Terms of Use</h1>
                <p class="hint">Last update: 8 December 2020</p>
                <br>
                <br>
                <h3>1. Terms</h3>
                <p>By accessing the website at URL, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law. </p>
                <h3>2. Use License</h3>
                <ol>
                    <li>Permission is granted to temporarily download one copy of the materials (information or software) on Queue Flow's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
                        modify or copy the materials;</li>
                    <ol>
                        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                        <li>attempt to decompile or reverse engineer any software contained on Queue Flow's website;</li>
                        <li>remove any copyright or other proprietary notations from the materials; or</li>
                        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                    </ol>
                    <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Queue Flow at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
                </ol>
                <h3>3. Disclaimer</h3>
                <ol>
                    <li>Queue Flow is not affiliated with A-mac B.V. This is a side project of one of your colleagues. This may change in the future. If this is the case, we will notify you beforehand.</li>
                    <li>You understand and acknowledge that the Service is being provided as a “Public Beta”, and is made available on an “AS IS” and “AS AVAILABLE” basis for the purpose of providing Bas Kasemir / Lemonade Labs with feedback on the quality and usability of the Service. The Service may contain errors or inaccuracies that could cause failures. YOU ASSUME ALL RISKS AND ALL COSTS ASSOCIATED WITH YOUR USE OF THE SERVICE, INCLUDING, WITHOUT LIMITATION, ANY INTERNET ACCESS FEES, BACK-UP EXPENSES, COSTS INCURRED FOR THE USE OF YOUR DEVICE AND PERIPHERALS, AND ANY DAMAGE TO ANY EQUIPMENT, SOFTWARE, INFORMATION OR DATA. In addition, Bas Kasemir / Lemonade Labs is not obligated to provide any maintenance, technical or other support for the Service.</li>
                    <li>Bas Kasemir / Lemonade Labs reserves the right to modify, suspend or stop the Service (or any part thereof), either temporarily or permanently, at any time or from time to time, with or without prior notice to you. Without limiting the foregoing, Bas Kasemir / Lemonade Labs may provide notice of any such changes to the Service by posting them on its websites and/or via the Service. You agree that Bas Kasemir / Lemonade Labs shall not be liable to you or any third party for any modification or cessation of the Service. You acknowledge that Bas Kasemir / Lemonade Labs has no express or implied obligation to provide, or continue to provide, the Service, or any part thereof, now or in the future; and in addition, Bas Kasemir / Lemonade Labs may at any time, upon prior notice as required by applicable law, institute charges or fees for the Service.</li>
                    <li>The materials on Queue Flow's website are provided on an 'as is' basis. Queue Flow makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                    <li>Further, Queue Flow does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
                </ol>
                <h3>4. You conduct</h3>
                <p>You agree that you will NOT use the Service to:</p>
                <ol>
                    <li>stalk, harass, threaten or harm another;</li>
                    <li>pretend to be anyone, or any entity, you are not — you may not impersonate or misrepresent yourself as another person (including celebrities), entity, another iWork.com subscriber, an Apple employee, or a civic or government leader, or otherwise misrepresent your affiliation with a person or entity, (Apple reserves the right to reject or block any Subscriber ID which could be deemed to be an impersonation or misrepresentation of your identity, or a misappropriation of another person's name or identity);</li>
                    <li>engage in any copyright infringement or other intellectual property infringement, or disclose any trade secret or confidential information in violation of a confidentiality,employment, or nondisclosure agreement;</li>
                    <li></li>
                </ol>
                <h3>5. Limitations</h3>
                <p>In no event shall Lemonade Labs or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Lemonade Labs' website, even if Lemonade Labs or a Lemonade Labs authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                <h3>6. Accuracy of the data</h3>
                <p>The materials appearing on Lemonade Labs' website could include technical, typographical, or photographic errors. Lemonade Labs does not warrant that any of the materials on its website are accurate, complete or current. Lemonade Labs may make changes to the materials contained on its website at any time without notice. However Lemonade Labs does not make any commitment to update the materials.</p>
                <h3>7. Links</h3>
                <p>Lemonade Labs has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Lemonade Labs of the site. Use of any such linked website is at the user's own risk.</p>
            </div>
            <br><br><br><br><br>

        </div>
    </div>

    <div class="prompt-message hideonload" data-prompt-name="privacy-policy">
        <div class="pm-header">
            <p>&nbsp;</p>
            <h3 class="">Privacy Policy</h3>
            <p class="blue-text" data-prompt-action="close">Sluiten</p>
        </div>
        <div class="pm-view">
            <div class="section"></div>
            <div class="section">
                <h1>Privacy Policy</h1>
                <p class="hint">Last update: 8 December 2020</p>
                <br>
                <br>
                <p>Your privacy is important to us. It is Queue Flow's policy to respect your privacy regarding any information we may collect from you across our websites, https://queueflow.nl, https://raspberrypivanbas.nl, and other sites we own and operate.</p>
                <br>
                <h2>1. Information we collect</h2>
                <br>
                <p><b>Log data</b></p>
                <br>
                <p>When you visit our website, our servers may automatically log the standard data provided by your web browser. It may include your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the time and date of your visit, the time spent on each page, and other details.</p>
                <br>
                <p><b>Device data</b></p>
                <br>
                <p>We may also collect data about the device you’re using to access our website. This data may include the device type, operating system, screen size, unique device identifiers, device settings, and geo-location data. What we collect can depend on the individual settings of your device and software. We recommend checking the policies of your device manufacturer or software provider to learn what information they make available to us.</p>
                <br>
                <p><b>Employee information</b></p>
                <br>
                <p>We store some information we get through your store- / floormanager to let you subscribe to personal notifications:</p>
                <br>
                <ul>
                    <li>RetailXML login code</li>
                </ul>
                <br>
                <p><b>Personal information</b></p>
                <br>
                <p>We may ask for personal information, such as your:<br>
                <ul>
                    <li>Name</li>
                    <li>Email</li>
                </ul>
                <br>
                <p>Your name may be visible trough the Slack channel, which is used to send personal notifications during this beta test, to other beta testers. Those beta testers are all employees of A-Mac B.V. Your email will never be exposed to other users.</p>
                <br>
                <br>
                <h2>2. Legal bases for processing</h2>
                <br>
                <p>We will process your personal information lawfully, fairly and in a transparent manner. We collect and process information about you only where we have legal bases for doing so.<br><br>
                    These legal bases depend on the services you use and how you use them, meaning we collect and use your information only where:<br><br>
                    it’s necessary for the performance of a contract to which you are a party or to take steps at your request before entering into such a contract (for example, when we provide a service you request from us);<br><br>
                    it satisfies a legitimate interest (which is not overridden by your data protection interests), such as for research and development, to market and promote our services, and to protect our legal rights and interests;<br><br>
                    you give us consent to do so for a specific purpose (for example, you might consent to us sending you our newsletter); or<br><br>
                    we need to process your data to comply with a legal obligation.<br><br>
                    Where you consent to our use of information about you for a specific purpose, you have the right to change your mind at any time (but this will not affect any processing that has already taken place).<br><br>
                    We don’t keep personal information for longer than is necessary. While we retain this information, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure and cannot guarantee absolute data security. If necessary, we may retain your personal information for our compliance with a legal obligation or in order to protect your vital interests or the vital interests of another natural person.</p>
                <br>
                <h2>3. Collection and use of information</h2>

                <br>
                <p>We may collect, hold, use and disclose information for the following purposes and personal information will not be further processed in a manner that is incompatible with these purposes:
                    to enable you to customize or personalize your experience of our website;<br>
                    to enable you to access and use our website, associated applications and associated social media platforms;<br>
                    to contact and communicate with you; and<br>
                    to comply with our legal obligations and resolve any disputes that we may have.</p>
                <br>
                <br>
                <h2>4. Disclosure of personal information to third parties</h2>
                <br>
                <p>We may disclose personal information to:
                    third party service providers for the purpose of enabling them to provide their services, including (without limitation) IT service providers, data storage, hosting and server providers, ad networks, analytics, error loggers, debt collectors, maintenance or problem-solving providers, marketing or advertising providers, professional advisors and payment systems operators.</p>
                <br>
                <br>
                <h2>5. International transfers of personal information</h2>
                <br>
                <p>The personal information we collect is stored and processed in The Netherlands, or where we or our partners, affiliates and third-party providers maintain facilities. By providing us with your personal information, you consent to the disclosure to these overseas third parties.<br>
                    We will ensure that any transfer of personal information from countries in the European Economic Area (EEA) to countries outside the EEA will be protected by appropriate safeguards, for example by using standard data protection clauses approved by the European Commission, or the use of binding corporate rules or other legally accepted means.<br>
                    Where we transfer personal information from a non-EEA country to another country, you acknowledge that third parties in other jurisdictions may not be subject to similar data protection laws to the ones in our jurisdiction. There are risks if any such third party engages in any act or practice that would contravene the data privacy laws in our jurisdiction and this might mean that you will not be able to seek redress under our jurisdiction’s privacy laws.</p>
                <br>
                <br>
                <h2>6. Your rights and controlling your personal information</h2>
                <br>
                <p>Choice and consent: By providing personal information to us, you consent to us collecting, holding, using and disclosing your personal information in accordance with this privacy policy. If you are under 16 years of age, you must have, and warrant to the extent permitted by law to us, that you have your parent or legal guardian’s permission to access and use the website and they (your parents or guardian) have consented to you providing us with your personal information. You do not have to provide personal information to us, however, if you do not, it may affect your use of this website or the products and/or services offered on or through it.<br>
                    Information from third parties: If we receive personal information about you from a third party, we will protect it as set out in this privacy policy. If you are a third party providing personal information about somebody else, you represent and warrant that you have such person’s consent to provide the personal information to us.<br>
                    Restrict: You may choose to restrict the collection or use of your personal information. If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by contacting us using the details below. If you ask us to restrict or limit how we process your personal information, we will let you know how the restriction affects your use of our website or products and services.<br>
                    Access and data portability: You may request details of the personal information that we hold about you. You may request a copy of the personal information we hold about you. Where possible, we will provide this information in CSV format or other easily readable machine format. You may request that we erase the personal information we hold about you at any time. You may also request that we transfer this personal information to another third party.<br>
                    Correction: If you believe that any information we hold about you is inaccurate, out of date, incomplete, irrelevant or misleading, please contact us using the details below. We will take reasonable steps to correct any information found to be inaccurate, incomplete, misleading or out of date.<br>
                    Notification of data breaches: We will comply laws applicable to us in respect of any data breach.<br>
                    Complaints: If you believe that we have breached a relevant data protection law and wish to make a complaint, please contact us using the details below and provide us with full details of the alleged breach. We will promptly investigate your complaint and respond to you, in writing, setting out the outcome of our investigation and the steps we will take to deal with your complaint. You also have the right to contact a regulatory body or data protection authority in relation to your complaint.<br>
                    Unsubscribe: To unsubscribe from our e-mail database or opt-out of communications (including marketing communications), please contact us using the details below or opt-out using the opt-out facilities provided in the communication.</p>
                <br>
                <br>
                <h2>7. Cookies</h2>
                <br>
                <p>We use “cookies” to collect information about you and your activity across our site or to keep you logged in and / or safe other information. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit, so we can understand how you use our site. This helps us serve you content based on preferences you have specified. Please refer to our Cookie Policy for more information.</p>
                <br>
                <br>
                <h2>8. Business transfers</h2>
                <br>
                <p>If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would include data among the assets transferred to any parties who acquire us. You acknowledge that such transfers may occur, and that any parties who acquire us may continue to use your personal information according to this policy.</p>
                <br>
                <br>
                <h2>9. Limits of our policy</h2>
                <br>
                <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.</p>
                <br>
                <br>
                <h2>10. Changes to this policy</h2>
                <br>
                <p>At our sole discretion, we may change our privacy policy to reflect current acceptable practices. We will take reasonable steps to let users know about changes via our website. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around privacy and personal information.<br>
                    If we make a significant change to this privacy policy, for example changing a lawful basis on which we process your personal information, we will ask you to re-consent to the amended privacy policy.</p>
                <br>
                <br>
                <br>
                <br>
                <p>Queue Flow Data Controller<br>
                    Bas Kasemir
                    <br><br>
                    Queue Flow Data Protection Officer<br>
                    Bas Kasemir<br>
                </p>
            </div>
            <br><br><br><br><br>

        </div>
    </div>


</body>

</html>
